{% extends "layout.html" %}
{% block content %}
    <h1>{{ current_user.username }}</h1>
    <h2>{{ hospital.name }} - Admin</h2>
    <h2>Data</h2>
    <a href="{{ url_for('data_input') }}">Input Data</a>
    <h2>System</h2>
    <h2>Users</h2>
    {% for user in users %}
        <p>
            <a href="{{ url_for('view_user', user_id=user.id) }}">{{ user.username }}</a>
            {% if user.is_admin %}
                - Admin
            {% endif %}
        </p>
    {% endfor %}
    <h2>Data</h2>
    {% for d in data %}
        <a class="mr-2" href="{{ url_for('view_user', user_id=d.user) }}">{{ d.user }}</a>
        <small class="text-muted">{{ d.date.strftime('%Y-%m-%d') }}</small>
        <p class="article-content">Bed Capacity: {{ d.bed_capacity }}</p>
        <p class="article-content">Beds Available: {{ d.beds_available }}</p>
        <p class="article-content">ICUs Available: {{ d.icus_available }}</p>
        <p class="article-content">Ventilators Available: {{ d.ventilators_available }}</p>
        <p class="article-content">Coronavirus Tests Available: {{ d.coronavirus_tests_available }}</p>
        <p class="article-content">Coronavirus Patients: {{ d.coronavirus_patients }}</p>
        <p class="article-content">Coronavirus Patient Proportion: {{ d.coronavirus_patient_percent }}</p>
    {% endfor %}
    <!-- <p>Bed Capacity Data: {{ bed_capacity }}</p>
    <p>Beds Available Data; {{ beds_available }}</p>
    <p>ICUs Available Data: {{ icus_available }}</p>
    <p>Ventilators Available Data: {{ ventilators_available }}</p>
    <p>Coronavirus Tests Available Data: {{ coronavirus_tests_available }}</p>
    <p>Coronavirus Patients: {{ coronavirus_patients }}</p>
    <p>Coronavirus Patient Proportion: {{ coronavirus_patient_percent }}</p> -->
    <div class="row">
          <div class="column">
              <canvas id="beds_available" width="400" height="150"></canvas>
          </div>
          <div class="column">
              <canvas id="icus_available" width="400" height="150"></canvas>
          </div>
    </div>
    <div class="row">
          <div class="column">
              <canvas id="ventilators_available" width="400" height="150"></canvas>
          </div>
          <div class="column">
              <canvas id="coronavirus_tests_available" width="400" height="150"></canvas>
          </div>
    </div>
    <div class="row">
          <div class="column">
              <canvas id="coronavirus_patients" width="400" height="150"></canvas>
          </div>
          <div class="column">
              <canvas id="coronavirus_patient_proportion" width="400" height="150"></canvas>
          </div>
    </div>
    <script>
        function create_graph(canvas_name, title, label, data, color1, color2, color3, color4, text_color, left, right, top, bottom){
            var ctx = document.getElementById(canvas_name).getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
                    datasets: [{
                        label: title,
                        data: data,
                        backgroundColor: 'rgba(' + color1 + ', ' + color2 +', ' + color3 + ', ' + color4 + ')',
                        borderColor: 'rgba(' + color1 + ', ' + color2 +', ' + color3 + ', 1)',
                        borderWidth: 2
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: title,
                        fontSize: 18,
                        fontColor: text_color,
                        fontFamily: 'Helvetica'
                    },
                    legend: {
                        display: false
                    },
                    layout: {
                        padding: {
                            left: left,
                            right: right,
                            top: top,
                            bottom: bottom
                        }
                    },
                    scales: {
                        xAxes: [{
                            ticks: {
                                fontColor: text_color
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                fontColor: text_color,
                                maxTicksLimit: 5
                            },
                            scaleLabel: {
                                display: true,
                                labelString: label,
                                fontSize: 12,
                                fontColor: text_color
                            }
                        }]
                    }
                }
            });
        }
    </script>
    <script>
        color = 'white'
        create_graph('beds_available', 'Beds Available', 'Beds Available', {{beds_available}}, 255, 30, 50, 0.3, color, 0, 0, 0, 0)
        create_graph('icus_available', 'ICU Beds Available', 'ICUs Available', {{icus_available}}, 255, 130, 31, 0.3, color, 0, 0, 0, 0)
        create_graph('ventilators_available', 'Ventilators Available', 'Ventilators Available', {{ventilators_available}}, 255, 255, 50, 0.3, color, 0, 0, 0, 0)
        create_graph('coronavirus_tests_available', 'Coronavirus Tests Available', 'COVID-19 Tests Available', {{coronavirus_tests_available}}, 30, 255, 30, 0.3, color, 0, 0, 0, 0)
        create_graph('coronavirus_patients', 'Coronavirus Patients', 'COVID-19 Patients', {{coronavirus_patients}}, 100, 185, 255, 0.3, color, 0, 0, 0, 0)
        create_graph('coronavirus_patient_proportion', 'Coronavirus Patient Percent', 'COVID-19 Patient %', {{coronavirus_patient_percent}}, 255, 50, 255, 0.3, color, 0, 0, 0, 0)
    </script>
{% endblock content %}
