{% extends "layout.html" %}
{% block content %}
    <h1>{{ current_user.username }}</h1>
    <h2>{{ hospital.name }} - Admin</h2>
    <h2>Data</h2>
    <a href="{{ url_for('data_input') }}">Input Data</a>
    <h2>System</h2>
    <h2>Users</h2>
    {% for user in users %}
        <p>
            <a href="{{ url_for('view_user', user_id=user.id) }}">{{ user.username }}</a>
            {% if user.is_admin %}
                - Admin
            {% endif %}
        </p>
    {% endfor %}
    <h2>Data</h2>
    {% for d in data %}
        <a class="mr-2" href="{{ url_for('view_user', user_id=d.user) }}">{{ d.user }}</a>
        <small class="text-muted">{{ d.date.strftime('%Y-%m-%d') }}</small>
        <p class="article-content">Bed Capacity: {{ d.bed_capacity }}</p>
        <p class="article-content">Beds Available: {{ d.beds_available }}</p>
        <p class="article-content">ICUs Available: {{ d.icus_available }}</p>
        <p class="article-content">Ventilators Available: {{ d.ventilators_available }}</p>
        <p class="article-content">Coronavirus Tests Available: {{ d.coronavirus_tests_available }}</p>
        <p class="article-content">Coronavirus Patients: {{ d.coronavirus_patients }}</p>
        <p class="article-content">Coronavirus Patient Proportion: {{ d.coronavirus_patient_percent }}</p>
    {% endfor %}
    <!-- <p>Bed Capacity Data: {{ bed_capacity }}</p>
    <p>Beds Available Data; {{ beds_available }}</p>
    <p>ICUs Available Data: {{ icus_available }}</p>
    <p>Ventilators Available Data: {{ ventilators_available }}</p>
    <p>Coronavirus Tests Available Data: {{ coronavirus_tests_available }}</p>
    <p>Coronavirus Patients: {{ coronavirus_patients }}</p>
    <p>Coronavirus Patient Proportion: {{ coronavirus_patient_percent }}</p> -->
    <canvas id="chart" width="400" height="100"></canvas>
    <script>
        const ctx = document.getElementById('chart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
                datasets: [{
                    label: 'Beds Available',
                    data: {{ beds_available }},
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
{% endblock content %}
