{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ heading }}</legend>
                <div class="form-group">
                    {{ form.bed_capacity.label(class="form-control-label") }}
                    {% if form.bed_capacity.errors %}
                        {{ form.bed_capacity(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.bed_capacity.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.bed_capacity(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.beds_available.label(class="form-control-label") }}
                    {% if form.beds_available.errors %}
                        {{ form.beds_available(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.beds_available.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.beds_available(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.icus_available.label(class="form-control-label") }}
                    {% if form.icus_available.errors %}
                        {{ form.icus_available(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.icus_available.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.icus_available(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.ventilators_available.label(class="form-control-label") }}
                    {% if form.ventilators_available.errors %}
                        {{ form.ventilators_available(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.ventilators_available.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.ventilators_available(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.coronavirus_tests_available.label(class="form-control-label") }}
                    {% if form.coronavirus_tests_available.errors %}
                        {{ form.coronavirus_tests_available(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.coronavirus_tests_available.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.coronavirus_tests_available(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.coronavirus_patients.label(class="form-control-label") }}
                    {% if form.coronavirus_patients.errors %}
                        {{ form.coronavirus_patients(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.coronavirus_patients.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.coronavirus_patients(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-light") }}
            </div>
        </form>
    </div>
{% endblock content %}