{% extends "layout.html" %}
{% block content %}
    <section>
        <h2>Get the Care You Need</h2>
        <p>Hospifind shows you which hospitals have the capcity to treat you to ensure you get the care you need. Scroll down to see nearby hospitals and their treatment capacities. For personalized results, click the button below.</p>
        <a href="{{ url_for('patient_form') }}">Get Personalized Results</a>
    </section>
    <section>
        <div id="map"></div>
        {% for hospital in hospitals %}
            <div class="hospital_result">
                <p>Rating</p>
                <h3>{{ hospital.name }}</h3>
                <p>{{ hospital.address }}</p>
                <p>{{ hospital.admin_hex_id }}</p>
                <p>{{ hospital.normal_hex_id }}</p>
                <a href="{{ hospital.directions_link }}">Get directions</a>
            </div>
        {% endfor %}
    </section>
    <section>
        <h2>About</h2>
    </section>
    <section>
        <h2>Contact</h2>
    </section>
{% endblock content %}
