@import 'config';

.mcontainer {
    margin: 2%;
}

%btn {
    border-radius: 50px;
    border: none;
}

.btn-red {
    @extend %btn;
    @include set-background(darken(#ff0000, 5));

    @include transition(background .5s ease-in-out);
    &:hover {
        @include set-background(darken(#ff0000, 10));
    }
}
