@import 'config';

html {
    scroll-behavior: smooth;
}

#home_info {
    @include set-background($salmon-color);
    text-align: center;
    height: 90vh;
    margin: auto 0px;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
        margin-bottom: 3%;
    }

    a {
        margin: 10px auto;
        max-width: 100%;
    }

    small a {
        color: #ffffff;
        text-decoration: underline;

        &:hover {
            color: darken(#ffffff, 10);
        }
    }
}

#about {
    padding: 5%;

    h2 {
        margin-bottom: 3%;
    }
}

#contact {
    @include set-background($salmon-color);
    padding: 5% 15%;

    h2 {
        margin-bottom: 3%;
    }

    input[type="text"], textarea {
        @include set-background(lighten($salmon-color, 20));

        &:focus {
            @include set-background(lighten($salmon-color, 10));
            outline: 0px;
            box-shadow: none;
        }
    }

    textarea {
        height: 200px;
    }
}

.green-top {
    border-top: 6px solid #00ff00;
}

.orange-top {
    border-top: 6px solid #ff8800;
}

.yellow-top {
    border-top: 6px solid #ffff00;
}

.red-top {
    border-top: 6px solid #ff0000;
}