fieldset {
    margin-bottom: 10px;
}

#content-section {
    padding: 5%;
    margin: auto;
    max-width: 600px;
}

#more_options {
    margin: auto;
    padding-top: 7px;
    font-size: .8em;
}

#remember_me {
    float: left;
}

#forgot_password {
    margin: auto;
    float: right;
}

p {
    text-align: center;
    margin: 2px auto;
}