@import 'config';
@import 'utilities';

* {
    font-family: $font-stack;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    margin-top: 5vh;
}

header {
    color: $primary-color;
    height: 5vh;
}

a {
    &:hover {
        text-decoration: none;
    }
}

h1, h2, h3 {
    text-align: center;
}

footer {
    text-align: center;
}

#logo_title {
    font-size: 2rem;
    img {
        width: 2rem;
        height: 2rem;
    }
}

#home_info {
    background: url(../images/background_hospital.jpg) no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    padding: 5%;

    a {
        display: block;
        margin: 5px auto;
    }
}

.hospital_result {
    background: darken($color: #fff, $amount: 5);
    border-radius: 10px;
    margin: 10px 5%;
    padding: 20px;
    text-align: center;

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p, a {
            margin: 0;
            display: inline-block;
            width: 50%;
        }

        p {
            font-size: 1.5em;
            text-align: left;
        }

        a {
            padding: 10px 0;
        }
    }
}