{% extends "layout.html" %}

{% block page_styles %}
<!-- <script>
  (function () {
    var h, a, f;
    a = document.getElementsByTagName('link');
    for (h = 0; h < a.length; h++) {
      f = a[h];
      if (f.rel.toLowerCase().match(/stylesheet/) && f.href) {
        var g = f.href.replace(/(&|\?)rnd=\d+/, '');
        f.href = g + (g.match(/\?/) ? '&' : '?');
        f.href += 'rnd=' + (new Date().valueOf());
      }
    } // for
  })()
</script> -->
<link rel="stylesheet" href="../static/css/home.css">
{% endblock page_styles %}

{% block content %}
<section id="home_info">
    <div>
        <h2>Get the Care You Need</h2>
        <p>
            Hospifind shows you which care centers have the capacity to treat you to ensure
            you get the care you need.
        </p>
        <a href="{{ url_for('hospitals') }}" class="btn-light btn-wide">Find a Hospital</a>
        <a href="{{ url_for('testing_centers') }}" class="btn-light btn-wide">Find a COVID-19 Testing Center</a>
        <p><small>Your Location: {{ address }}. If this is incorrect, please <a href="{{ url_for('input_location') }}">Enter your location</a>.</small></p>
        {% if state != "FL" %}
            <p>Hospifind is currently only available in <strong>Florida</strong><br>Want a preview of how the app works? Click <a style="color: white; text-decoration: underline;" href="{{ url_for('hospitals_random') }}">here</a>.</p>
        {% endif %}
    </div>
    <!-- <script type='text/javascript' src='https://bi.ahca.myflorida.com/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 1000px; height: 850px;'><object class='tableauViz' width='1000' height='850' style='display:none;'><param name='host_url' value='https%3A%2F%2Fbi.ahca.myflorida.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='&#47;t&#47;ABICC' /><param name='name' value='Public&#47;ICUBedsHospital' /><param name='tabs' value='yes' /><param name='toolbar' value='yes' /><param name='isGuestRedirectFromVizportal' value='y' /></object></div> -->
</section>
<section id="about">
    <h2>About</h2>
    <p>&emsp; Hospifind was designed with the goal of increasing healthcare system capacity during the COVID-19
        pandemic.
        We're sure you've heard of the now world-famous "flatten the curve" diagram which encapsulates the positive
        effects
        of social distancing. By practicing social distancing and washing hands, everyone helps to spread out infections
        over a longer period of time and prevent dangerous, hospital-overloading, spikes in cases. The less-discussed
        second part of this diagram is the line which depicts the health care system capacity. This line can be raised
        in a
        variety of ways, such as by manufacturing more ventilators and coronavirus tests.</p>

    <p>&emsp; Hospifind works to <strong>#RaiseTheLine</strong> by
        optimally distributing patients among hospitals to prevent individual care centers from being overloaded. At the
        same time, Hospifind ensures patients get the best care possible and helps hospitals to easily and intuitively
        manage their data. The Hospifind team has worked with doctors and hospitals throughout the United States to
        create
        and fine-tune this system to ensure every patient can get the care they need, every hospital can learn from
        their
        trends, and every government can prepare for and fight back against new outbreaks within their jurisdiction.
        Together, we can save the live of patients and doctors, while preventing hospital-overload across the country
        and
        around the world.</p>
</section>
<section id="contact">
    <h2>Contact Us</h2>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <!-- <legend class="border-bottom mb-4">Contact Us</legend> -->
            <div class="row">
                <div class="form-group col-md-6">
                    {% if form.name.errors %} {{ form.name(class="form-control
          is-invalid", placeholder="Name") }}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %} {{ form.name(class="form-control", placeholder="Name") }}
                    {% endif %}
                </div>
                <div class="form-group col-md-6">
                    {% if form.email.errors %} {{ form.email(class="form-control
          is-invalid", placeholder="Email") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %} {{ form.email(class="form-control", placeholder="Email") }}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    {% if form.subject.errors %} {{ form.subject(class="form-control
          is-invalid", placeholder="Subject") }}
                    <div class="invalid-feedback">
                        {% for error in form.subject.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %} {{ form.subject(class="form-control",
          placeholder="Subject") }} {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    {% if form.message.errors %} {{ form.message(class="form-control
          is-invalid textareas", placeholder="Message") }}
                    <div class="invalid-feedback">
                        {% for error in form.message.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %} {{ form.message(class="form-control textareas",
          placeholder="Message") }} {% endif %}
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn-light btn-wide") }}
        </div>
    </form>
</section>
{% endblock content %}
