{% extends "layout.html" %}
{% block content %}
    <section id="react_container"></section>
    <section>
        <h2>Get the Care You Need</h2>
        <p class="mb-0">Hospifind shows you which hospitals have the capacity to treat you to ensure you get the care you need. Scroll down to see nearby hospitals and their treatment capacities. For personalized results, click the button below.</p>
        <a href="{{ url_for('patient_form') }}" class="mt-1 btn btn-light">Get Personalized Results</a>
        <p class="mt-3 mb-0">Your location has been detected as <strong>{{ address }}</strong>. To improve accuracy, click this button to enter your location manually.</p>
	    <a href="{{ url_for('input_location') }}" class="mt-1 mb-3 btn btn-light">Input Location</a>
    </section>
    <section>
        <div id="map"></div>
        <h3>{{ header }}</h3>
        <p class="mb-2 border-bottom">*Note: Ratings are based on hospital data only.</p>
        {% for hospital, rating in results.items() %}
            <div class="hospital_result">
                <h4>{{ hospital.name }}</h4>
                <p>{{ hospital.address }}</p>
                {% if rating == 'Great' %}
                    <p style="color:lime">{{ rating }}</p>
                {% elif rating == 'Good' %}
                    <p style="color:green">{{ rating }}</p>
                {% elif rating == 'OK' %}
                    <p style="color:orange">{{ rating }}</p>
                {% elif rating == 'Low Availability' %}
                    <p style="color:red">{{ rating }}</p>
                {% endif %}
                <!-- <p>{{ hospital.admin_hex_id }}</p>
                <p>{{ hospital.normal_hex_id }}</p> -->
                <a href="{{ hospital.directions_link }}" class="btn btn-dark">Get directions</a>
            </div>
        {% endfor %}
    </section>
    <section>
        <h2>About</h2>
    </section>
    <section>
        <h2>Contact</h2>
    </section>
{% endblock content %}
