{% extends "layout.html" %}
{% block content %}
    <section id="react_container"></section>
    <section id="home_info">
        <h2>Get the Care You Need</h2>
        <p class="mb-0">Hospifind shows you which hospitals have the capacity to treat you to ensure you get the care you need.</p>
        <p class="mt-3 mb-0">Your location has been detected as <strong>{{ address }}</strong>. If this is inaccurate, click this button to enter your location manually for better results.</p>
        <p class="mt-3 mb-0">NOTE: All hospital <strong>data</strong>, and therefore all <strong>ratings</strong> are simulated. This website is in its beta testing version.</p>
        <a href="{{ url_for('patient_form') }}" class="btn-light">Get Personalized Results</a>
        <a href="{{ url_for('input_location') }}" class="btn-light">Input Location</a>
    </section>
    <section class="mcontainer">
        <div id="map"></div>
        <h3>{{ header }}</h3>
        <p class="mb-2 border-bottom">*Note: Ratings are based on hospital data only.</p>

        {% for hospital, rating, distance, time in results %}
            <div class="hospital_result" id="{{ hospital.name }}">
                <h3>{{ hospital.name }}</h3>
                <p>{{ hospital.address }}</p>
                <p>Distance: {{ distance }} mi, Time: {{ time }} min</p>
                <div>
                    {% if rating == 'Great' %}
                        <p style="color:lime">{{ rating }}</p>
                    {% elif rating == 'Good' %}
                        <p style="color:yellow">{{ rating }}</p>
                    {% elif rating == 'OK' %}
                        <p style="color:orange">{{ rating }}</p>
                    {% elif rating == 'Low Availability' %}
                        <p style="color:red">{{ rating }}</p>
                    {% endif %}
                    <!-- <p>{{ hospital.admin_hex_id }}</p>
                    <p>{{ hospital.normal_hex_id }}</p> -->
                </div>
            </div>
        {% endfor %}
        <script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}"></script>
        <script>
              var data = {{ map_list|tojson }};
              var myLatLng = new google.maps.LatLng({lat: 0, lng: 0});
              var bounds = new google.maps.LatLngBounds;
              var map = new google.maps.Map(document.getElementById('map'), {
                  center: {lat: 55.53, lng: 9.4},
                  zoom: 10,
                  styles: [
                    {elementType: 'geometry', stylers: [{color: '#242f3e'}]},
                    {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
                    {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
                    {
                      featureType: 'administrative.locality',
                      elementType: 'labels.text.fill',
                      stylers: [{color: '#d59563'}]
                    },
                    {
                      featureType: 'poi',
                      elementType: 'labels.text.fill',
                      stylers: [{color: '#d59563'}]
                    },
                    {
                      featureType: 'poi.park',
                      elementType: 'geometry',
                      stylers: [{color: '#263c3f'}]
                    },
                    {
                      featureType: 'poi.park',
                      elementType: 'labels.text.fill',
                      stylers: [{color: '#6b9a76'}]
                    },
                    {
                      featureType: 'road',
                      elementType: 'geometry',
                      stylers: [{color: '#38414e'}]
                    },
                    {
                      featureType: 'road',
                      elementType: 'geometry.stroke',
                      stylers: [{color: '#212a37'}]
                    },
                    {
                      featureType: 'road',
                      elementType: 'labels.text.fill',
                      stylers: [{color: '#9ca5b3'}]
                    },
                    {
                      featureType: 'road.highway',
                      elementType: 'geometry',
                      stylers: [{color: '#746855'}]
                    },
                    {
                      featureType: 'road.highway',
                      elementType: 'geometry.stroke',
                      stylers: [{color: '#1f2835'}]
                    },
                    {
                      featureType: 'road.highway',
                      elementType: 'labels.text.fill',
                      stylers: [{color: '#f3d19c'}]
                    },
                    {
                      featureType: 'transit',
                      elementType: 'geometry',
                      stylers: [{color: '#2f3948'}]
                    },
                    {
                      featureType: 'transit.station',
                      elementType: 'labels.text.fill',
                      stylers: [{color: '#d59563'}]
                    },
                    {
                      featureType: 'water',
                      elementType: 'geometry',
                      stylers: [{color: '#17263c'}]
                    },
                    {
                      featureType: 'water',
                      elementType: 'labels.text.fill',
                      stylers: [{color: '#515c6d'}]
                    },
                    {
                      featureType: 'water',
                      elementType: 'labels.text.stroke',
                      stylers: [{color: '#17263c'}]
                    }
                  ]
              });
              var markersArray = [];
              var infoWindowsArray = [];
              var originLatLng = new google.maps.LatLng({lat: data[0][1], lng: data[0][2]});
              map.fitBounds(bounds.extend(originLatLng));
              var icons = [];

              for (var i = 0; i < 10; i++){
                  if (data[i+1][4] === 'Great')
                  {
                      icons.push('http://maps.google.com/mapfiles/ms/icons/green-dot.png')
                  }
                  else if (data[i+1][4] === 'Good')
                  {
                      icons.push('http://maps.google.com/mapfiles/ms/icons/yellow-dot.png')
                  }
                  else if (data[i+1][4] === 'OK')
                  {
                      icons.push('http://maps.google.com/mapfiles/ms/icons/orange-dot.png')
                  }
                  else {
                      icons.push('http://maps.google.com/mapfiles/ms/icons/red-dot.png');
                  }
              }

              var originMarker = new google.maps.Marker({
                  map: map,
                  position: originLatLng,
                  icon: 'http://maps.google.com/mapfiles/ms/icons/blue.png',
                  zIndex: google.maps.Marker.MAX_ZINDEX + 1
              })

              var originWindow = new google.maps.InfoWindow({
                  content: '<div class="info_window">' +
                                  '<h2>Your Location</h2>' +
                                  '<p>' + data[0][0] + '</p>' +
                            '</div>'
              });

              for (var i = 0; i < 10; i++) {
                  var myLatLng = new google.maps.LatLng({lat: data[i+1][2], lng: data[i+1][3]});
                  map.fitBounds(bounds.extend(myLatLng));
                  markersArray.push(new google.maps.Marker({
                      map: map,
                      position: myLatLng,
                      icon: icons[i]
                  }));

                  var link = "https://www.google.com/maps/dir/?api=1&" +
                      "origin=" + data[0][0].split(",").join("%2C").split(" ").join("+") +
                      "&destination=" + data[i+1][1].split(" ").join("+");

                  document.getElementById(data[i+1][0]).innerHTML += '<a href="' + link + '" target="_blank" class="btn-light col-sm-4">Get directions</a>';

                  infoWindowsArray.push(new google.maps.InfoWindow({
                      content: '<div class="info_window">' +
                                      '<h2>' + data[i+1][0] + '</h2>' +
                                      '<p>' + data[i+1][1] + '</p>' +
                                      '<a href="' +
                                       link + '" target="_blank"> Get directions </a>' +
                                '</div>'
                  }));

                  google.maps.event.addListener(markersArray[i], 'click', (function(marker, i) {
                      return function() {
                          infoWindowsArray.forEach((item, i) => {
                              item.close();
                          });
                          originWindow.close();
                          infoWindowsArray[i].open(map, markersArray[i]);
                      };
                  })(markersArray[i], i));
              }

              originMarker.addListener('click', function() {
                  infoWindowsArray.forEach((item, i) => {
                      item.close();
                  });
                  originWindow.open(map, originMarker);
              });
        </script>
    </section>
    <section class="mcontainer">
        <h2>About</h2>
    </section>
    <section class="mcontainer">
        <h2>Contact Us</h2>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <!-- <legend class="border-bottom mb-4">Contact Us</legend> -->
                  <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}

                    {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}

                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.subject.label(class="form-control-label") }}

                    {% if form.subject.errors %}
                        {{ form.subject(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.subject.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.subject(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.message.label(class="form-control-label") }}

                    {% if form.message.errors %}
                        {{ form.message(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.message.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.message(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-light") }}
            </div>
        </form>
    </section>
{% endblock content %}
