{% extends "layout.html" %}
{% block content %}
<div class="form-container">
    <form method="POST" action="">
        {{ form.csrf_token() }}
        <fieldset class="form-group">
            <legend>Request Hospital Account</legend>
            <div class="form-group">
                {% if form.hospital.errors %}
                {{ form.hospital(class="form-control is-invalid", placeholder="Hospital Name") }}
                <div class="invalid-feedback">
                    {% for error in form.hospital.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.hospital(class="form-control", placeholder="Hospital Name") }}
                {% endif %}
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    {% if form.name.errors %}
                    {{ form.name(class="form-control is-invalid", placeholder="Name") }}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.name(class="form-control", placeholder="Name") }}
                    {% endif %}
                </div>
                <div class="form-group col-md-6">
                    {% if form.title.errors %}
                    {{ form.title(class="form-control is-invalid", placeholder="Title") }}
                    <div class="invalid-feedback">
                        {% for error in form.title.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.title(class="form-control", placeholder="Title") }}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    {% if form.email.errors %}
                    {{ form.email(class="form-control is-invalid", placeholder="Email") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.email(class="form-control", placeholder="Email") }}
                    {% endif %}
                </div>
                <div class="form-group col-md-6">
                    {% if form.phone.errors %}
                    {{ form.phone(class="form-control is-invalid", placeholder="Phone") }}
                    <div class="invalid-feedback">
                        {% for error in form.phone.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.phone(class="form-control", placeholder="Phone") }}
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                {% if form.message.errors %}
                {{ form.message(class="form-control is-invalid textareas", placeholder="Message/Additional Details") }}
                <div class="invalid-feedback">
                    {% for error in form.message.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.message(class="form-control textareas", placeholder="Message/Additional Details") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn-red btn-wide") }}
        </div>
    </form>
</div>
{% endblock content %}