<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

    {% if title %}
        <title>Hospifind - {{ title }}</title>
    {% else %}
        <title>Hospifind</title>
    {% endif %}

    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.ico') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://kryogenix.org/code/browser/sorttable/sorttable.js"></script>
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <div class="container">
                <a id="logo_title" class="navbar-brand" href="{{ url_for('home') }}">
                    <img src="{{ url_for('static', filename='logo.png') }}" alt="Hospifind Logo">
                    Hospifind
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav">
                      <a class="nav-item nav-link" href="{{ url_for('home') }}">See Nearby Hospitals</a>
                      <a class="nav-item nav-link" href="{{ url_for('patient_form') }}">Get Personalized Results</a>
                      <a class="nav-item nav-link" href="{{ url_for('home') }}">About</a>
                      <a class="nav-item nav-link" href="{{ url_for('home') }}">Contact Us</a>
                    </div>
                    <!-- Navbar Right Side -->
                    <div class="navbar-nav">
                      {% if current_user.is_authenticated %}
                        <a class="nav-item nav-link" href="{{ url_for('data_input') }}">Input Data</a>
                        <a class="nav-item nav-link" href="{{ url_for('account') }}">Account</a>
                        <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
                      {% else %}
                        <a class="nav-item nav-link" href="{{ url_for('request_account') }}">Request Account</a>
                        <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                      {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock content %}
    </main>
    <footer>
        <p>Created by Aarav Bajaj, Arya Grayeli, Pranav Mathur, Ron Nachum, Amrita Sahu</p>
        <p><a href="#">Legal</a> | <a href="#">Privacy</a></p>
    </footer>


    <!-- React -->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- My JS -->
    {% block scripts %}{% endblock scripts %}
</body>
</html>
