{% extends "layout.html" %} {% block page_styles %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/login.css') }}"
/>
{% endblock page_styles %} {% block content %}
<div class="content-section">
  <form method="POST" action="">
    {{ form.csrf_token() }}
    <fieldset>
      <legend>Log In</legend>
      <div class="form-group">
        {% if form.email.errors %} {{ form.email(class="form-control
        is-invalid", placeholder="Email") }}
        <div class="invalid-feedback">
          {% for error in form.email.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.email(class="form-control", placeholder="Email") }}
        {% endif %}
      </div>
      <div class="form-group">
        {% if form.password.errors %} {{ form.password(class="form-control
        textareas is-invalid", placeholder="Password") }}
        <div class="invalid-feedback">
          {% for error in form.password.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.password(class="form-control textareas",
        placeholder="Password") }} {% endif %}
        <div id="more_options">
          <div id="remember_me">
            {{ form.remember() }} {{ form.remember.label() }}
          </div>
          <a id="forgot_password" href="{{ url_for('request_password_reset') }}"
            >Forgot Password?</a
          >
        </div>
      </div>
    </fieldset>
    {{ form.submit(class="btn-red submit_button") }}
  </form>
</div>
<div>
  <p>OR</p>
  <a class="btn-red submit_button" href="{{ url_for('request_account') }}"
    >Request an Account</a
  >
</div>
{% endblock content %}
