{% extends "layout.html" %}
{% block content %}
    <h1>Get Personalized Results</h1>
    <form class="mcontainer" action="{{ url_for('patient_form') }}" method="post">
        <fieldset class="pfield">
            <legend>Are you in a serious/life-threatening condition?</legend>
            <label class="plabel"><input type="radio" name="emergency" value="y"> Yes</label>
            <label class="plabel"><input type="radio" name="emergency" value="n"> No</label>
        </fieldset>
        <fieldset class="pfield">
            <legend>Age</legend>
            <label class="plabel"><input type="radio" name="age" value="0"> Younger than 18</label>
            <label class="plabel"><input type="radio" name="age" value="1"> 18-64</label>
            <label class="plabel"><input type="radio" name="age" value="2"> 65+</label>
        </fieldset>
        <fieldset class="pfield">
            <legend>Which, if any, of the following symptoms do you have?</legend>
            <label class="plabel"><input type="checkbox" name="symptoms" value=0> Fever</label>
            <label class="plabel"><input type="checkbox" name="symptoms" value=1> Dry Cough</label>
            <label class="plabel"><input type="checkbox" name="symptoms" value=2> Fatigue</label>
            <label class="plabel"><input type="checkbox" name="symptoms" value=3> Phlegm</label>
            <label class="plabel"><input type="checkbox" name="symptoms" value=4> Shortness of Breath</label>
            <label class="plabel"><input type="checkbox" name="symptoms" value=5> Sore Throat or Headache</label>
            <label class="plabel"><input type="checkbox" name="symptoms" value=6> Chills</label>
            <label class="plabel"><input type="checkbox" name="symptoms" value=7> Vomiting</label>
            <label class="plabel"><input type="checkbox" name="symptoms" value=8> Nasal Congestion</label>
            <label class="plabel"><input type="checkbox" name="symptoms" value=9> Diarrhea</label>
        </fieldset>
        <fieldset class="pfield">
            <legend>Which, if any, of the following underlying conditions do you have?</legend>
            <label class="plabel"><input type="checkbox" name="conditions" value=0> High Blood Pressure</label>
            <label class="plabel"><input type="checkbox" name="conditions" value=1> Heart Problems</label>
            <label class="plabel"><input type="checkbox" name="conditions" value=2> Diabetes</label>
            <label class="plabel"><input type="checkbox" name="conditions" value=3> Asthma</label>
            <label class="plabel"><input type="checkbox" name="conditions" value=4> Any smoking-related condition</label>
        </fieldset>
        <fieldset class="pfield">
            <legend>Have you been in an area where COVID‑19 is widespread or have you been in contact with someone known to have COVID-19?</legend>
            <label class="plabel"><input type="radio" name="near_covid" value="y"> Yes</label>
            <label class="plabel"><input type="radio" name="near_covid" value="n"> No</label>
            <label class="plabel"><input type="radio" name="near_covid" value="idk"> I don't know</label>
        </fieldset>
        <input type="submit" class="btn btn-light" value="Submit">
    </form>
{% endblock content %}
{% block scripts %}
    
{% endblock scripts %}
