@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

html, body {
    background: #1a1a1a;
    color: #ffffff;
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    padding: 1% 5%;
}

img {
    width: 30%;
    display: block;
    margin: auto;
}

header > p {
    font-size: 1.2em;
}

strong {
    color: #ff0000;
}

button {
    background: inherit;
    color: #a91622;
    text-align: center;
    font-size: 1em;
    width: 12%;
    margin: 0% 1%;
    padding: .5% 3%;
    border-radius: 5px;
    border: 1px solid #d31122;
}

button:hover {
    background: #d31122;
    color: #ffffff;
}

input[type="text"], input[type="number"] {
    background: inherit;
    color: #d9d9d9;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #d31122;
}

input[type="text"]:focus, input[type="number"]:focus {
    color: #d9d9d9;
    background: inherit;
    border: none;
    outline: none !important;
    box-shadow: none;
    border-bottom: 2px solid #bd1628;
}

form {
    background: #262626;
    border: 1px solid #d31122;
    border-radius: 5px;
    margin: 0% 5%;
    padding: 2%;
}

label, legend {
    font-size: 1.2em;
}

fieldset {
    display: inline-block;
}

.mc_container {
    margin: 1% 2%;
}

input[type="radio"], input[type="checkbox"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

input[type="radio"] + label, input[type="checkbox"] + label {
    text-align: center;
    width: 250px;
    border: 1px solid #d31122;
    border-radius: 5px;
}

input[type="radio"] + label:hover, input[type="checkbox"] + label:hover {
    background: #4d4d4d;
}

input[type="radio"]:checked + label, input[type="checkbox"]:checked + label {
    background: #4d4d4d;
    border: 2px solid #d31122;
}

footer {
    font-size: 0.7em;
    text-align: center;
    padding: 1% 0%;
}

#choose_form {
    text-align: center;
}

#control_buttons {
    text-align: center;
}


#right-panel {
  float: bottom;
  width: 48%;
  padding-top: 2%;
}

.location_result {
    background: #262626;
    font-size: 1.1em;
    border-left: solid 3px #d31122;
    padding: 1% 2%;
    margin: 1% 5%;
}

.location_result:hover {
    box-shadow: 3px 3px #4d4d4d;
}
